@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Raleway:ital,wght@1,100;1,300;1,500&display=swap');


html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.link {
  color: #234736 ;
  text-decoration: none;
  padding: 10px;
  font-size: 1.4rem;
}

